<html lang="en">
  <head>
    <title>Yoga Places In Austin</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Yoga Listing In Austin
      </h1>
    </header>
 <ul class="results">
    <% for (var i = 0; i < results.length; i++) { %>
    <li>
        <div class="timeline-time">
            
            <span><%= results[i].location %> </span>
            <img src=<%=results[i].image %> />
        </div>
    </li>
    <% } %>
</ul>


  </body>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
</html>
